PyICU
PyYAML
beautifulsoup4
biplist
colorize_pinyin
html5lib
libzim>=1.0
lxml
marisa-trie
mistune
polib
prompt-toolkit
pymorphy3
python_idzip
--extra-index-url https://glowinthedark.github.io/python-lzo/
python-lzo
python-romkan-ng
tqdm
xxhash
