beautifulsoup4
colorize_pinyin
git+https://github.com/glowinthedark/python-romkan.git
html5lib
libzim
lxml
marisa-trie
mistune
polib
prompt-toolkit
pygments
pyicu
pymorphy2
python-idzip
python-lzo
pyyaml
PyYAML
tqdm
xxhash
