PyYAML
bs4
colorize_pinyin
gi
pygobject
html5lib
libzim
lxml
marisa-trie
mistune
nuitka
polib
prompt-toolkit
psutil
pygments
pyicu
pyinstaller
pymorphy2
python-idzip
python-lzo
pyyaml
#romkan
git+https://github.com/glowinthedark/python-romkan.git
tqdm
xxhash

