PyYAML
bs4
colorize_pinyin
gi
html5lib
libzim
lxml
marisa-trie
mistune
nuitka
polib
prompt-toolkit
psutil
pygments
pygobject
pyicu
pyinstaller
pymorphy2
python-idzip
python-lzo
python-romkan-ng
pyyaml
tqdm
xxhash
